/last_test/__init__.py
/ex/Ex4GetRequest.py
/ex/Ex5ParsingJSON.py
/ex/Ex6LongRedirect.py
/ex/Ex7Method.py
/ex/Ex8Token.py
/ex/Ex9Password.py
/last_test/HelloFrom.py
/last_test/json_parsing.py
/last_test/main.py
/last_test/RefactorText.py
/last_test/test_examples.py
/last_test/
.idea
.pytest_cache
__pycache__/
logs/*
test_results/